body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

main {
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1, footer h2, .menu-title h2 {
  font-family: 'Shrikhand', cursive;
}

.loader {
  font-family: 'Shrikhand', cursive;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  font-size: large;
  -webkit-box-shadow: 0px 5px 6px #d0d0d0;
          box-shadow: 0px 5px 6px #d0d0d0;
}

header h1 {
  padding-bottom: 500px;
  font-weight: normal;
}

header i {
  font-size: 1.3rem;
  position: absolute;
  left: 5%;
  top: 20px;
}

.location {
  color: #404040;
  text-align: center;
  font-size: large;
  background-color: #eaeaea;
  margin-top: -20px;
  padding: 15px;
  font-weight: bold;
}

.location i {
  padding-right: 15px;
}

.description {
  text-align: center;
  background-color: #f6f6f6;
  padding: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description h2 {
  font-size: 1.8em;
  margin: 0;
}

.description h3 {
  font-weight: normal;
}

@media screen and (min-width: 1150px) {
  .description {
    height: 200px;
    padding: 30px 0 0 0;
  }
}

.functioning {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
}

@media screen and (min-width: 600px) {
  .functioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .functioning > h2 {
    width: 100%;
  }
}

@media screen and (min-width: 1150px) {
  .functioning {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-left: 5%;
  padding-bottom: 50px;
}

@media screen and (min-width: 600px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 5%;
  }
  .restaurants > h2 {
    width: 100%;
  }
}

.restaurant-card {
  background-color: white;
  border-radius: 16px;
  position: relative;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 260px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 20px -10px grey;
          box-shadow: 1px 1px 20px -10px grey;
}

@media screen and (min-width: 600px) {
  .restaurant-card {
    width: 45%;
  }
}

@media screen and (min-width: 1150px) {
  .restaurant-card {
    width: 22%;
  }
}

.restaurant-card > a {
  width: 100%;
}

.restaurant-card__image {
  height: 180px;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden;
}

.restaurant-card__image img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1150px) {
  .restaurant-card__image img {
    height: 180px;
  }
}

.restaurant-card__new {
  background-color: #99E2D0;
  color: #299077;
  font-weight: bold;
  font-size: large;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px 8px 16px;
}

.restaurant-card__body {
  padding: 5px 16px 16px 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  line-height: 8px;
}

.restaurant-card__title {
  font-size: 1.1rem;
  line-height: 5px;
}

.restaurant-card__like {
  font-size: xx-large;
  padding-top: 15px;
  color: grey;
}

footer {
  background-color: #353535;
  color: white;
  padding: 12px;
}

footer h2 {
  font-weight: normal;
  font-size: 1.3rem;
  padding-left: 5%;
}

@media screen and (min-width: 1150px) {
  footer h2 {
    font-size: xx-large;
  }
}

footer ul {
  list-style-type: none;
  padding-left: 5%;
  line-height: 30px;
}

@media screen and (min-width: 600px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
}

@media screen and (min-width: 1150px) {
  footer ul {
    width: 75%;
    font-size: x-large;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer i {
  padding-right: 10px;
  max-width: 14px;
}

footer a {
  color: white;
}

@media screen and (min-width: 1150px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.rest-img {
  max-width: 100%;
  max-height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -25px;
  margin-bottom: -25px;
}

.menu {
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  margin-top: -20px;
  padding-top: 10px;
  background-color: #f6f6f6;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
  padding-right: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
}

.menu-title h2 {
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  .menu-title h2 {
    padding-right: 10px;
    font-size: xx-large;
  }
}

@media screen and (min-width: 600px) {
  .menu-title {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.entries,
.meal,
.desserts {
  padding-left: 5%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.entries h2,
.meal h2,
.desserts h2 {
  border-bottom: 3px solid #99E2D0;
  width: 12%;
  font-weight: normal;
  text-transform: uppercase;
  font-size: large;
  padding-bottom: 2px;
}

@media screen and (min-width: 600px) {
  .entries,
  .meal,
  .desserts {
    width: 40%;
  }
}

@media screen and (min-width: 1150px) {
  .entries,
  .meal,
  .desserts {
    width: 25%;
    padding-right: 0;
  }
}

.food-card {
  background-color: white;
  padding: 10px 20px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  margin: 0.5rem 0;
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  -webkit-animation: menuappear 0.8s cubic-bezier(0.5, 1.5, 0.35, 0.8) both;
          animation: menuappear 0.8s cubic-bezier(0.5, 1.5, 0.35, 0.8) both;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.food-card__description {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 25px;
}

.food-card h3 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.15rem;
}

.food-card p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.food-card__price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 16px;
}

.food-card__choice {
  background-color: #99E2D0;
  margin: -10px -85px -16px 16px;
  height: 70px;
  width: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.food-card:hover .food-card__choice {
  margin-right: -20px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.food-card__choice-icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.food-card:hover .food-card__choice-icon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.food-card .fa-check {
  color: #99E2D0;
}

.command {
  text-align: center;
  padding: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  .command {
    width: 100%;
  }
}

@media screen and (min-width: 1150px) {
  .command {
    padding: 5%;
  }
}

.btn-primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 5px 6px #d0d0d0;
          box-shadow: 0px 5px 6px #d0d0d0;
  padding: 15px;
  margin: 10px;
  border-radius: 25px;
  border: none;
  font-size: medium;
  max-width: 220px;
  min-width: 170px;
  color: white;
  cursor: pointer;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-primary:hover {
  -webkit-box-shadow: 0px 5px 8px #b6b6b6;
          box-shadow: 0px 5px 8px #b6b6b6;
}

.btn-choose {
  padding: 20px;
  margin: 15px;
  background-color: #f6f6f6;
  border-radius: 25px;
  position: relative;
  height: 40px;
  font-weight: bold;
  font-size: large;
  -webkit-box-shadow: 0px 5px 6px #d0d0d0;
          box-shadow: 0px 5px 6px #d0d0d0;
}

@media screen and (min-width: 600px) {
  .btn-choose {
    width: 300px;
  }
}

@media screen and (min-width: 1150px) {
  .btn-choose {
    width: 25%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.btn-choose .fa-mobile-screen-button, .btn-choose .fa-list, .btn-choose .fa-store {
  padding: 12px;
  padding-right: 30px;
  padding-left: 20px;
  color: grey;
  font-size: 1.3rem;
  width: 15px;
}

.btn-choose .fa-1, .btn-choose .fa-2, .btn-choose .fa-3 {
  background-color: #9356DC;
  padding: 10px;
  border-radius: 20px;
  color: white;
  position: absolute;
  left: -4%;
  top: 35%;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: small;
}

.btn-choose:hover {
  background-color: #f2eafb;
}

.btn-choose:hover .fa-mobile-screen-button {
  color: #9356DC;
}

.btn-choose:hover .fa-list {
  color: #9356DC;
}

.btn-choose:hover .fa-store {
  color: #9356DC;
}

.fa-heart {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: x-large;
  color: grey;
}

.fa-heart:hover {
  -webkit-animation: fill 1s ease-in-out;
          animation: fill 1s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader 0.01s 1.75s both;
          animation: loader 0.01s 1.75s both;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: xx-large;
}

.loader__item {
  height: 1rem;
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.loader__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
}

.loader__item--1 {
  color: #9356DC;
}

.loader__item--2 {
  color: #FF79DA;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loader__item--3 {
  color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes menuappear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menuappear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.delay-0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-1 {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.delay-2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.delay-3 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.delay-4 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.delay-5 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.delay-6 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.delay-7 {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.delay-8 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.delay-9 {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}
/*# sourceMappingURL=main.css.map */