.restaurants {
  background-color: $lightgrey;
  padding-top: 30px;
  padding-left: 5%;
  padding-bottom: 50px;
}


.restaurant-card {
    background-color: white;
    border-radius: 16px;
    position: relative;
    color: inherit;
    display: block;
    width: 95%;
    height: 260px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 20px -10px grey;
    &__image {
        height: 180px;
        width: 100%;
        border: transparent solid 0px;
        border-radius: 1rem 1rem 0 0;
        box-shadow: none;
        position: relative;
        overflow: hidden;
        & img {
          border-radius: 1rem 1rem 0 0;
          width: 100%;
          position: absolute;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }
      &__new {
        background-color: $colour_third;
        color: (darken($color: $colour_third, $amount: 38));
        font-weight: bold;
        font-size: large;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 8px 16px 8px 16px;
      }
      &__body {
        padding: 5px 16px 16px 14px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        line-height: 8px;
      } 
      &__title {
        font-size: 1.1rem;
        line-height: 5px;
      }
      &__like {
        font-size: xx-large;
        padding-top: 15px;
        color: grey;
      }  
}