<<<<<<< HEAD
body {
   box-sizing: border-box;
   margin: 0;
}

main {
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}
=======
body {
   box-sizing: border-box;
   margin: 0;
}

main {
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}
>>>>>>> 297fecdb1c68d7495143990a35cfe608768a3615
