<<<<<<< HEAD
h1, footer h2, .menu-title h2{
    font-family: 'Shrikhand', cursive;
}

.loader {
    font-family: 'Shrikhand', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
=======
h1, footer h2, .menu-title h2{
    font-family: 'Shrikhand', cursive;
}

.loader {
    font-family: 'Shrikhand', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
>>>>>>> 297fecdb1c68d7495143990a35cfe608768a3615
}