<<<<<<< HEAD
$colour-primary: #9356DC; 
$colour-secondary: #FF79DA;
$colour-third: #99E2D0;
$darkgrey: #eaeaea;
$lightgrey: #f6f6f6;
=======
$colour-primary: #9356DC; 
$colour-secondary: #FF79DA;
$colour-third: #99E2D0;
$darkgrey: #eaeaea;
$lightgrey: #f6f6f6;
>>>>>>> 297fecdb1c68d7495143990a35cfe608768a3615
$breakpoints: (tablet: 600px, desktop: 1150px);